.team {
  background-color: #f5f4fa;
}
.section-team .title {
  color: $title-text-color;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  margin-top: 0px;
  margin-bottom: 10px;
}

.section-team.list {
  display: flex;
  flex-wrap: wrap;
}

.section-team .text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.19;
  margin-top: 0;
  margin-bottom: 16px;
}
.section-team .item {
  max-width: 450px;
  padding-bottom: 24px;
  width: 270px;
  height: 422px;
  box-shadow: 0px 2px 1px rgba(0, 0, 0, 0.2), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12);
  border-radius: 4px;

  background-color: $secondary-text-color;
  text-align: center;

  @media screen and (max-width: 767px) {
    margin-bottom: 30px;
  }
  @media screen and (min-width: 768px) {
    width: 354px;
  }

  @media screen and(min-width:1200px) {
    width: 270px;
  }

  &:not(:last-child) {
    margin-right: 15px;
  }

  & > img {
    display: inline-block;
    width: 100%;
    margin-bottom: 30px;
  }
}

.social-links {
  display: flex;
  justify-content: space-evenly;
  padding-right: 32px;
  padding-left: 32px;
}

.social-links-icons {
  @extend %flexCenter;
  width: 44px;
  height: 44px;
  fill: #afb1b8;
  border-radius: 50%;

  transition: background-color 250ms $cubic, fill 250ms $cubic;

  &:hover,
  &:focus {
    background-color: $accent-color;
    fill: $secondary-text-color;
  }
}
